# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# OS / editor
.DS_Store
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# Local secrets
.env
.env.*

# Build artifacts
build/
dist/
*.egg-info/
